<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="mb-3 row col-12">
  <span class="text-start col-6">
    <i class="mx-1 fa-solid fa-circle-xmark"></i>
    <i class="mx-1 fa-solid fa-bars"></i>
    <i class="mx-1 fa-regular fa-bell"></i>
    
  </span>
  <h6 class="col-6 text-end panel-title txt-dark">Social Campaigns</h6>
</div>
<div class="mt-3">
  <table class="table table-sm">
    <thead>
      <tr class="text-center">
        <th scope="col" style="font-size: 10px;">STATUS</th>
        <th scope="col" style="font-size: 10px;">BUDGET</th>
        <th scope="col" style="font-size: 10px;">CHANGES</th>
        <th scope="col" style="font-size: 10px;">CLIENT</th>
        <th scope="col" style="font-size: 10px;">CAMPAIGN</th>

      </tr>
    </thead>
    <tbody class="mb-3">
      <tr class="text-center" style="font-size: 11px;">
        <th scope="row" class="text-center">Active</th>
        <td>$1478</td>
        <td class="text-danger">7.43%</td>
        <td style="color: grey;">Ahbar</td>
        <td>Facebook</td>
        
      </tr>
      <tr class="text-center" style="font-size: 11px;">
        <th scope="row">Closed</th>
        <td>$951</td>
        <td class="text-success">1.43%</td>
        <td style="color: grey;">Felix</td>
        <td>Youtube</td>
        
      </tr>
      <tr class="text-center" style="font-size: 11px;">
        <th scope="row">Hold</th>
        <td>$2450</td>
        <td class="text-danger">7.43%</td>
        <td style="color: grey;">Canblai</td>
        <td>Twitter</td>
       
      </tr>
      <tr class="text-center" style="font-size: 11px;">
        <th scope="row">Hold</th>
        <td>$378</td>
        <td class="text-danger">6.23%</td>
        <td style="color: grey;">Neosoft</td>
        <td>Spotify</td>
        
      </tr>
      <tr class="text-center" style="font-size: 11px;">
        <th scope="row">Active</th>
        <td>$1234</td>
        <td class="text-success">0.43%</td>
        <td style="color: grey;">Netwilk</td>
        <td>Instagram</td>
        
      </tr>
    </tbody>
  </table>

</div>
