.imagenLogo{
    margin-left: 20px;
    width: 110px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
.buttonCloseSession:hover{
  background-color: red;
  color: white;
}
.verOfertasLink{
    text-decoration: none;

}

.card-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .card-image {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .card-info {
    padding: 15px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    align-items: center;

    .card-image {
      flex: 1;
      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .card-info {
      flex: 1;
      text-align: left;
    }
  }
}

@media (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

