<app-header-cliente></app-header-cliente>

<section class="container">
    <div class="user-info container py-5">
        <img class="emoticonos" src="/ofertasEmoticonos.png" alt="">
    </div>
</section>
<section class="descount-section">
    <div>
        <div class="diasNaranjasContainer">
            <img class="diasNaranjas" src="/DiasNaranjas.png" alt="">
        </div>
        <div class="container-descounts">
            <div class="ofertas-cards">
                <img src="/Top.png" class="img-ofertas" alt="">
                <h2 class="ofertas-title">Ofertas Top</h2>
            </div>
            <div class="ofertas-cards">
                <img src="/Top.png" class="img-ofertas" alt="">
                <h2 class="ofertas-title">Ordenadores</h2>
            </div>
            <div class="ofertas-cards">
                <img src="/Top.png" class="img-ofertas" alt="">
                <h2 class="ofertas-title">Portátiles</h2>
            </div>
            <div class="ofertas-cards">
                <img src="/Top.png" class="img-ofertas" alt="">
                <h2 class="ofertas-title">Componentes</h2>
            </div>
            <div class="ofertas-cards">
                <img src="/Top.png" class="img-ofertas" alt="">
                <h2 class="ofertas-title">Monitores</h2>
            </div>
            <div class="ofertas-cards">
                <img src="/Top.png" class="img-ofertas" alt="">
                <h2 class="ofertas-title">Sonido</h2>
            </div>
            <div class="ofertas-cards">
                <img src="/Top.png" class="img-ofertas" alt="">
                <h2 class="ofertas-title">Periféricos</h2>
            </div>
            <div class="ofertas-cards">
                <img src="/Top.png" class="img-ofertas" alt="">
                <h2 class="ofertas-title">Smartphones</h2>
            </div>
            <div class="ofertas-cards">
                <img src="/Top.png" class="img-ofertas" alt="">
                <h2 class="ofertas-title">Televisores</h2>
            </div>
            <div class="ofertas-cards">
                <img src="/Top.png" class="img-ofertas" alt="">
                <h2 class="ofertas-title">Consolas y Videojuegos</h2>
            </div>
            <div class="ofertas-cards">
                <img src="/Top.png" class="img-ofertas" alt="">
                <h2 class="ofertas-title">Tablets y Relojes</h2>
            </div>
            <div class="ofertas-cards">
                <img src="/Top.png" class="img-ofertas" alt="">
                <h2 class="ofertas-title">Hogar</h2>
            </div>
        </div>
    </div>
    <div></div>
</section>
<main class="main-container container">
    <section class="container-cards container">
        <div class="cards" *ngFor="let product of products">
            <div class="img-container">
                <img src="/producto2.jpg" class="img-product" alt="">
            </div>

            <div class="infoContainer">
                <h2 class="title-card">{{product.name}}</h2>
                <p>{{product.description}}</p>
                <p class="price">{{product.price}} €</p>
                <div class="buttons-container">
                    <button class="btn agregarCesta" (click)="infoProductoRoute()"><i class="fa-solid fa-cart-plus"></i> Agregar</button>
                    <button class="btn">
                        <i class="fa-solid fa-star"></i>
                    </button>
                </div>
            </div>


        </div>
    </section>

</main>
<section class="container novedades-container">
    <div class="novedades-title">
        <img class="imgNovedades" src="/Portatiles.png" alt="">
    </div>
    <div class="novedades-title">
        <img class="imgNovedades" src="/Componentes.png" alt="">
    </div>
    <div class="novedades-title">
        <img class="imgNovedades" src="/Monitores.png" alt="">
    </div>
    <div class="novedades-title">
        <img class="imgNovedades" src="/Televisores.png" alt="">
    </div>
    <div class="novedades-title">
        <img class="imgNovedades" src="/Estrena.png" alt="">
    </div>
    <div class="novedades-title">
        <img class="imgNovedades" src="/Conecta.png" alt="">
    </div>
</section>
<section class="container-patterns">
    <div class="pat1"><img src="/pat1.png" alt=""></div>
    <div class="pat2"><img src="/pat2.png" alt=""></div>
</section>
<app-footer></app-footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">