<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid py-0 my-0" style="cursor: po;" >
      <a class="navbar-brand col-lg-6" style="cursor: pointer;" (click)="backHome()">
        <img class="imagenLogo" src="/logo.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
         
    
          <li class="nav-item">
            <a class="buttonCloseSession nav-link border rounded mx-3 " style="cursor: pointer;" (click)="verMisProductos()">Mis Productos</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<main class="container">
    <section class="container">
        <div class="profile-data-container row ">

            <div class="welcome-tag mb-5 mt-3 d-flex align-items-center justify-content-center">
                <h1 class="welcome" style="font-weight: 900;">¡Bienvenido {{username}}!</h1>
            </div>

            <div class="profileData container col-12">
                <div class="">
                    <h2 style="font-weight: 900;">Información del Usuario:</h2>
                </div>
                <div class="roleUser">
                    <span class="tituloRole">Rol del usuario</span>
                    <i class="fa-solid fa-arrow-right"></i>
                    <span class="role">{{role}}</span>
                </div>
                <div class="username">
                    <span class="tituloNombre">Nombre del usuario</span>
                    <i class="fa-solid fa-arrow-right"></i>
                    <span class="nombreUser">{{firstName}} {{lastName}}</span>
                </div>
                <div class="address ">
                    <span class="tituloDireccion">Dirección del usuario</span>
                    <i class="fa-solid fa-arrow-right"></i>
                    <span class="direccionUser">{{Address}}</span>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="container">
        <div class="password-title">
            <h2 class="" style="font-weight: 900;">Cambiar contraseña</h2>
        </div>
        <div class="container">
            <form action="" class="w-100 m-auto mt-3 shadow-lg bg-white py-3 px-4 rounded-3 row gap-3 justify-content-center mb-5">
                <div>
                    <input class="form-control form-control-sm" type="password" name="password" id="password" placeholder="Nueva contraseña*" formControlName="password" required>
                </div>
                <div class="cambiarContraseña">
                    <a href="#" class="btn btn-danger botonPassword">Cambiar Contraseña</a>
                </div>
            </form>
        </div>
    </section>
    <hr>

    <section class="botonesProfile">
        <div class="container botonesDiv">
            <button class="btn btn-primary" (click)="backHome()">
                <i class="fa-solid fa-arrow-left botonInicio"></i>
                volver a Inicio
            </button>
        </div>
        <div class="container botonesDiv">
            <button class="btn btn-primary" (click)="closeSession()">
                <i class="fa-solid fa-power-off botonCerrar"></i>
                Cerrar Sesión
                
            </button>
        </div>
    </section>

</main>
