.role{
    margin-left: 5px;
}
.tituloRole{
    margin-right: 5px;
    font-weight: 500;
}
.nombreUser{
    margin-left: 5px;
}
.tituloNombre{
    margin-right: 5px;
    font-weight: 500;
}
.direccionUser{
    margin-left: 5px;
}
.tituloDireccion{
    margin-right: 5px;
    font-weight: 500;
}

.botonPassword{
    width: 210px;
}
i{
    margin-right: 5px;
}
.cambiarContraseña{
    display: flex;
    justify-content: center;
}
.botonesProfile{
    display: flex;
    justify-content: space-between;
    
}

.botonesDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 470px) {
    .botonPassword{
        width: 150px;
    }
    .welcome{
        font-size: 20px;
    }
    .botonesProfile{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .userInfoTitle{
        font-size: 15px;
    }
    .tituloRole{
        font-size: 13px;
    }
    i{
        font-size: 13px;
    }
    .role{
        font-size: 13px;
    }
    .roleUser{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .username{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .tituloNombre{
        font-size: 13px;
    }
    .nombreUser{
        font-size: 13px;
    }
    .address{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .tituloDireccion{
        font-size: 13px;
    }
    .direccionUser{
        font-size: 13px;
    }
    .password-title{
        font-size: 15px;
    }
}

@media (min-width: 980px) {
    .password-container{
        width: 70%;
    }
}
