<div class="container">
    <div class="container title-products">
        <span class="container-title">
            <h1 style="font-weight: 900;">Mis productos</h1>
        </span>
    </div>
    <div class="container products">

    </div>
    <div class="container buttons-container">
        <div class="button-exit-container">
            <button class="button-exit btn btn-primary" (click)="goBack()">vovler al inicio</button>
        </div>
        <div class="button-add-container" >
            <button class="button-add btn btn-success" (click)="crearProducto()">crear Producto</button>
        </div>
    </div>
</div>
