.imagenLogo{
    margin-left: 20px;
    width: 110px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
.buttonIniciarSession:hover{
  background-color: red;
  color: white;
}

.buttonRegistrarSession:hover{
  background-color: red;
  color: white;
}

.verOfertasLink{
    text-decoration: none;

}

